<h1 class="align">Drop Section</h1>

<div cdkDropListGroup>
    <!-------------------------Grid-List------------------------>
    <mat-grid-list cols="3" rowHeight="8:1">
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list1" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list1" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list2" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list2" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list3" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list3" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list4" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list4" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list5" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list5" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list6" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list6" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list7" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list7" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="example-container">
                <div cdkDropList [cdkDropListData]="list8" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of list8" cdkDrag>{{item}}</div>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
    <br><br><br>

    <div class="align">
        <h2>Select alphabets to Drop</h2>
        <!-------------------------List 1------------------------>
        <div class="example-container">
            <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    {{item}}
                </div>
            </div>
        </div>

        <!-------------------------List 2------------------------>
        <div class="example-container">
            <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>

</div>